export(addBoatSubstrateSizes)
export(addWadeSubstrateSizes)
export(calculateBankCoverVar)
export(calculateBankHardening)
export(calculateBoatableReachLength)
export(calculateBoatAngleMetrics)
export(calculateBoatLittoralSubstrateMetrics)
export(calculateBoatNumberWettedWidth)
export(calculateBoatThalwegSubstrateMetrics)
export(calculateCanopyCover)
export(calculateChannelConstraint)
export(calculateChannelHabitatProportions)
export(calculateChannelMetrics)
export(calculateFishCoverMeans)
export(calculateHumanInfluence)
export(calculateHumanInfluenceSD)
export(calculateInvasiveScore)
export(calculateLittoralDepth)
export(calculateLittoralDepth2)
export(calculateLWDCounts)
export(calculateLWDSiteArea)
export(calculateLWDSiteLength)
export(calculateLWDVolumeMetrics)
export(calculateLWDVolumeMetrics2)
export(calculatePercentSideChannel)
export(calculateProportionSeeOverBank)
export(calculatePropTranInvPresent)
export(calculateRiparianVegetation)
export(calculateShoreToVegDistance)
export(calculateSideChannelCount)
export(calculateThalwegDepthMetrics)
export(calculateThalwegRatios)
export(calculateTransectRatios)
export(calculateWadeableReachLength)
export(calculateWadeAngleMetrics)
export(calculateWadeBankMetrics)
export(calculateWadeSubstrateMetrics)
export(calculateWadeUndercutMetrics)
export(calculateWettedWidthMetrics)
export(fastSummaries)
export(fetchNRSAResults)
export(formatFishCover)
export(getNumTransects)
export(isSiteSampled)
export(joinExtraTransects)
export(nWadeableStations)
export(nWadeableStationsPerTransect)
export(observedLWDTransects)
export(removeSideChannels)
export(summaryby)
importFrom(abind,abind)
importFrom(NARSShared,'%&%')
importFrom(NARSShared,addNA2)
importFrom(NARSShared,CharacterToLogical)
importFrom(NARSShared,count)
importFrom(NARSShared,FactorToNumeric)
importFrom(NARSShared,idr)
importFrom(NARSShared,interpolatePercentile2)
importFrom(NARSShared,iqr)
importFrom(NARSShared,modalClass2)
importFrom(NARSShared,modalCount)
importFrom(NARSShared,modalvalue)
importFrom(NARSShared,quick.table)
importFrom(NARSShared,rowSumsProtectNA)
importFrom(NARSShared,summary.nrsa)
importFrom(plyr,'.')
importFrom(plyr,arrange)
importFrom(plyr,ddply)
importFrom(plyr,id)
importFrom(plyr,ldply)
importFrom(plyr,mapvalues)
importFrom(plyr,rbind.fill)
importFrom(plyr,rename)
importFrom(plyr,revalue)
importFrom(plyr,split_indices)
importFrom(plyr,split_labels)
importFrom(reshape2,acast)
importFrom(reshape2,dcast)
importFrom(reshape2,melt)
importFrom(Rigroup,igroupAlls)
importFrom(Rigroup,igroupMaxs)
importFrom(Rigroup,igroupMeans)
importFrom(Rigroup,igroupMins)
importFrom(stringr,str_replace)
