export(addBoatSubstrateSizes)
export(addWadeSubstrateSizes)
export(calculateAngleMetrics)
export(calculateBankCoverVar)
export(calculateBankHardening)
export(calculateBoatableReachLength)
export(calculateBoatAngleMetrics)
export(calculateBoatLittoralSubstrateMetrics)
export(calculateBoatNumberWettedWidth)
export(calculateBoatThalwegSubstrateMetrics)
export(calculateCanopyCover)
export(calculateChannelConstraint)
export(calculateChannelHabitatProportions)
export(calculateChannelMetrics)
export(calculateCriticalDiameterKaufmann)
export(calculateCrudeCriticalDiameter)
export(calculateDistanceAlongThalweg)
export(calculateFishCoverMeans)
export(calculateHumanInfluence)
export(calculateHumanInfluenceSD)
export(calculateInvasiveScore)
export(calculateLittoralDepth)
export(calculateLittoralDepth2)
export(calculateLWDCounts)
export(calculateLWDSiteArea)
export(calculateLWDSiteLength)
export(calculateLWDVolumeMetrics)
export(calculateLWDVolumeMetrics2)
export(calculatePercentSideChannel)
export(calculatePool)
export(calculatePoolMetrics)
export(calculateProportionSeeOverBank)
export(calculatePropTranInvPresent)
export(calculateRefinedCriticalDiameter)
export(calculateRelativeBedStability)
export(calculateRiparianVegetation)
export(calculateS_RP100)
export(calculateShoreToVegDistance)
export(calculateSideChannelCount)
export(calculateSlopeMetrics)
export(calculateThalwegDepthMetrics)
export(calculateThalwegRatios)
export(calculateTransectRatios)
export(calculateWadeableReachLength)
export(calculateWadeAngleMetrics)
export(calculateWadeBankMetrics)
export(calculateWadeSubstrateMetrics)
export(calculateWadeUndercutMetrics)
export(calculateWettedWidthMetrics)
export(castMetrics)
export(convertNamedVectorToMetricDF)
export(coordinatesFromTraverse)
export(fastSummaries)
export(fetchNRSAResults)
export(fillMissingLWD)
export(fillSlopeBearingData)
export(first)
export(fixBoatableDepthUnits)
export(forceSlopeGt0)
export(formatFishCover)
export(getAngleFromDisplacement)
export(getNumTransects)
export(getPoolInformation)
export(isSiteSampled)
export(joinExtraTransects)
export(last)
export(meltMetrics)
export(mergeMetrics)
export(nWadeableStations)
export(nWadeableStationsPerTransect)
export(observedLWDTransects)
export(organizeThalwegData)
export(rbindMetrics)
export(removeSideChannels)
importFrom(abind,abind)
importFrom(plyr,'.')
importFrom(plyr,arrange)
importFrom(plyr,ddply)
importFrom(plyr,dlply)
importFrom(plyr,id)
importFrom(plyr,join)
importFrom(plyr,ldply)
importFrom(plyr,mapvalues)
importFrom(plyr,rbind.fill)
importFrom(plyr,rename)
importFrom(plyr,revalue)
importFrom(plyr,split_indices)
importFrom(plyr,split_labels)
importFrom(reshape2,acast)
importFrom(reshape2,dcast)
importFrom(reshape2,melt)
importFrom(Rigroup,igroupAlls)
importFrom(Rigroup,igroupMaxs)
importFrom(Rigroup,igroupMeans)
importFrom(Rigroup,igroupMins)
importFrom(stringr,str_replace)
