export(metsBankMorphology)
export(metsBedStability)
export(metsCanopyDensiometer)
export(metsChannelChar)
export(metsChannelHabitat)
export(metsChannelMorphology)
export(metsFishCover)
export(metsGeneral)
export(metsHumanInfluence)
export(metsInvasiveSpecies)
export(metsLargeWoody)
export(metsLegacyTree)
export(metsLittoralDepth)
export(metsResidualPools)
export(metsRiparianVegetation)
export(metsSlopeBearing)
export(metsSubstrateCharacterization)
export(metsSubstrateEmbed)
export(nrsaphab)
export(nrsa.options)
exportPattern("^[^\\.]")
import("RODBC")
importFrom(plyr, ddply, id, '.')
importFrom("reshape2", melt, dcast)